{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_directory_merge{% endtrans %} : #{{ deletedDirectory.id }} - {{ deletedDirectory.fullname }} into #{{ baseDirectory.id }} - {{ baseDirectory.fullname }}{% endblock %}

{% block body %}  
  <div class="row">
    <div class="col-md-4">
      <h2>Base Directory</h2>
      {% include '_cells/directoryCard.html.twig' with {'directory': baseDirectory} %}      
    </div>
    <div class="col-md-4">
      <h2>Deleted Directory</h2>
      {% include '_cells/directoryCard.html.twig' with {'directory': deletedDirectory} %}      
    </div>
    <div class="col-md-4">
      <h2>Merged Directory</h2>
      {% include '_cells/directoryCard.html.twig' with {'directory': keepedDirectory} %}      
    </div>
  </div>  
  <div class="row">
    <div class="col">
      <form method="POST">
        <input type="hidden" value='mergethis' name="validatemerge" id="validatemerge">
        <a href="{{ path('directory_view', {'id': keepedDirectory.id}) }}" class="btn btn-secondary" data-dismiss="modal">{% trans %}button_cancel{% endtrans %}</a>
        <button type="submit" class="btn btn-primary">{% trans %}button_validate_directories_merge{% endtrans %}</button>
    </form>

    </div>
  </div>

{% endblock %}
