
<div class="p-2">
    <h4>{% trans %}title_informations{% endtrans %}</h4>
    {{ document.content | raw }}
</div>
<hr>
<ul>
    <li>{% trans %}title_amount{% endtrans %} : {{ document.amountMoney ? document.amountMoney ~ ' ' ~ 'currency_symbol'|trans : 'value_no_value'|trans }}
        {% if document.amountMoney %}
            {% if document.amountMoney == document.amountMoneySettled %}
                &#x2705;
            {% else %}
                &#x274C; {% trans %}title_missing{% endtrans %}: {{ document.amountMoney - document.amountMoneySettled }}{{'currency_symbol'|trans}}
            {% endif %}
        {% endif %}
    </li>
    <li>{% trans %}title_hours{% endtrans %} : {{ document.amountTime ? document.amountTime ~ ' ' ~ 'title_hours'|trans : 'value_no_value'|trans }}
        {% if document.amountTime %}
            {% if document.amountTime == document.amountTimeSettled %}
                &#x2705;
            {% else %}
                &#x274C; {% trans %}title_missing{% endtrans %}: {{ document.amountTime - document.amountTimeSettled }} {{'title_hours'|trans}}
            {% endif %}
        {% endif %}
    </li>
    <li>{% trans %}title_community_work{% endtrans %} : {{ document.amountCommunityWork ? document.amountCommunityWork ~ ' ' ~ 'title_hours'|trans : 'value_no_value'|trans }}
        {% if document.amountCommunityWork %}
            {% if document.amountCommunityWork == document.amountCommunityWorkSettled %}
                &#x2705;
            {% else %}
                &#x274C; {% trans %}title_missing{% endtrans %}: {{ document.amountCommunityWork - document.amountCommunityWorkSettled }} {{'title_hours'|trans}}
            {% endif %}
        {% endif %}
    </li>
</ul>