<h2>{% trans %}title_informations{% endtrans %}</h2>
{{ document.content | raw }}

{% if document.directories|length > 0 %}
    <h2>{% trans %}title_directory_into_gang{% endtrans %}</h2><hr>
    {% for i in document.directories %}
        {% set path_directories_uploads  = 'uploads/directories/' ~ i.id  %}
        <div class="row mb-3">
            <div class="col-3 border-end">
                {% if i.faceImageSize != 0 %}{% set faceImage = path_directories_uploads ~ '/' ~ i.faceImageName %}{% else %}{% set faceImage = 'img/nophoto.jpg' %}{% endif %}
                <a data-toggle="lightbox" data-gallery="report" href="{{ asset(faceImage) }}"><img class="img-fluid" style="max-height: 200px;" src="{{ asset(faceImage) }}" alt="{{ i.fullname}}"></a>   
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <a href="{{ path('directory_view',  {id: i.id}) }}">{{i.fullName}} ( #{{i.id}} )</a>
                    </div>
                    <div class="card-body">                  
                    <p class="card-text">
                        <ul>
                            {% if i.wanted %}
                                <li class="text-danger">{% trans %}title_directory_wanted_light{% endtrans %} : {{ i.wantedReason | default('value_no_value'|trans) }}</li>
                            {% endif %}
                            {% if i.dead %}
                                <li class="text-warning">{% trans %}title_directory_dead{% endtrans %}</li>
                            {% endif %}
                            <li>{% trans %}title_informations{% endtrans %}: {{i.gangInfo}}</li>
                            <li>{% trans %}title_gender{% endtrans %}: {{i.gender}}</li>
                            <li>{% trans %}title_phone{% endtrans %}: {{i.phone}}</li>
                            {% if i.hasnopapers %}
                                <li>{% trans %}title_hasnopapers{% endtrans %}</li>
                            {% endif %}
                        </ul>
                    </p>                  
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}