<ul>
    <li>{% trans %}title_arrested_at{% endtrans %} : {{ document.arrestedAt|date('_datetime.format'|trans) }}</li>
    <li>{% trans %}title_jailed_at{% endtrans %} : {{ document.jailedAt|date('_datetime.format'|trans) }}</li>
</ul>

<ul>
    <li>{% trans %}title_ask_for_lawyer{% endtrans %} : {{ document.lawyer ? 'value_yes'|trans : 'value_no'|trans }}</li>
    <li>{% trans %}title_ask_for_medic{% endtrans %} : {{ document.medic ? 'value_yes'|trans : 'value_no'|trans }}</li>
</ul>
<hr>
<div>
    <h2>{% trans %}title_informations{% endtrans %}</h2>
    {{ document.content | raw }}
</div>