<ul>
    <li>{% trans %}title_type{% endtrans %}: {{ document.type|trans }}</li>
    <li>{% trans %}title_numberplate{% endtrans %}: {{ document.numberplate | default('value_no_value'|trans) }}</li>
    <li>{% trans %}title_model{% endtrans %}: {{ document.model | default('value_no_value'|trans) }}</li>
    <li>{% trans %}title_color{% endtrans %}: {{ document.color | default('value_no_value'|trans) }}</li>
</ul>
<h5>{% trans %}title_informations{% endtrans %} : </h5>
<div class="p-2">    
    {{ document.content | raw }}
</div>