.hidethis {
    background-color: #000;
    color:#000
}

.hidethis:hover {
    color:#9b9ea2;
}

.img-icon {
    max-width: 32px;
    max-height: 32px;
}

.img-display {
    max-width: 200px;
    max-height: 200px;
}

.invalid-feedback {
    display: block;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
    padding-bottom: 20px;
}

ul.timeline > li:hover {
    background-color: #2d3544;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #1C232F;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.logo-lg {
    height: 30px;
    width: 170px;
}

.document-group-logo {
    max-width: 200px;
    max-height: 200px;
}

.document-container {
    background-color: #000;
}

.pulse {
    
    border-radius: 0%;
    position: relative;
    animation: animate 3s linear infinite
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgb(255, 0, 0, 0.7), 0 0 0 0 rgb(255, 0, 0, 0.7)
    }

    40% {
        box-shadow: 0 0 0 10px rgb(255, 0, 0, 0), 0 0 0 0 rgb(255, 0, 0, 0.7)
    }

    80% {
        box-shadow: 0 0 0 10px rgb(255, 0, 0, 0), 0 0 0 10px rgb(255, 0, 0, 0)
    }

    100% {
        box-shadow: 0 0 0 0 rgb(255, 0, 0, 0), 0 0 0 10px rgb(255, 0, 0, 0)
    }
}
@media (max-width: 1024px) {
.pc-header .pc-head-link .user-desc,
    .pc-header .pc-head-link .user-name {
        display: block;
    }
}