<tr>
    <td>
        <a href="{{ path('directory_view', {'id': i.directory.id}) }}" >{{ i.directory.firstname }} {{ i.directory.lastname }} {% if i.directory.dead %}, {% trans %}title_dead{% endtrans %}{% endif %}</a>
    </td>
    <td>
        {% trans %}title_missing{% endtrans %}:
        {% if type == 'fine' %}
            {{ i.amountMoney - i.amountMoneySettled }} {{'currency_symbol'|trans}}
        {% elseif type == 'jail' %}
            {{ i.amountTime - i.amountTimeSettled }} {{'title_hours'|trans}}
        {% elseif type == 'community_work' %}
            {{ i.amountCommunityWork - i.amountCommunityWorkSettled }} {{'title_hours'|trans}}
        {% endif %}
        <br/>
        {{ form_start(i.form) }}
        <span class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">{{ form_label(i.form.amount) }}</span>
            </div>
            {{ form_widget(i.form.amount) }}
            {{ form_widget(i.form.submit, { 'label': 'button_ok' }) }}
        </span>
        {{ form_end(i.form) }}
    </td>
    <td>
        {{i.createdAt |date('_datetime.format'|trans)}}
    </td>
    <td>
        {% include '_cells/documentActions.html.twig' with {'document': i, 'noedit': true, 'nodelete': true, 'noarchive': true} %}
    </td>
</tr>