{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_group_rank_view{% endtrans %}{% endblock %}

{% block body %}
  <div class="row">
      <div class="col-lg-6">
        <h2>{% trans %}title_rank{% endtrans %}: {{rank.name}} {% include '_cells/adminRankActions.html.twig' with {'rank': rank} %}</h2>
        <hr>
        <h3>{% trans %}title_members{% endtrans %}</h3>
        <hr>
        {% include '_cells/adminUserTable.html.twig' with {'users': rank.users} %}
      </div>
      <div class="col-lg-6">
        <h3>{% trans %}title_permissions{% endtrans %}</h3>
        <hr>
        {% for i in rank.permissions %}
        <p>{{i}}</p>
        {% endfor %}        
      </div>
  </div>
{% endblock %}
