{% if directories|length > 0 %}
  <div class="table-responsive">
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">{% trans %}title_full_name{% endtrans %}</th>
            {% if date is not defined %}<th scope="col">{% trans %}title_informations{% endtrans %}</th>{% endif %}
            {% if noaction is not defined %}
            <th scope="col">{% trans %}title_actions{% endtrans %}</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
            {% for i in directories %}
                <tr>
                    <td>
                      <a href="{{ path('directory_view', {'id': i.id}) }}" data-bs-toggle="tooltip" data-placement="top"  title="{% trans %}tooltip_view{% endtrans %}"># {{i.id}} - {{i.fullName}}{% if i.dead %}, {% trans %}title_dead{% endtrans %}{% endif %}</a>
                      {% if i.wanted %}<p class="text-danger">{% trans %}title_directory_wanted_light{% endtrans %}</p>{% endif %}                      
                    </td>
                    <td>
                      <ul>                         
                        {% if nogender is not defined %}<li>{% trans %}title_gender{% endtrans %}: {{i.gender}}</li>{% endif %}
                        {% if nophone is not defined %}<li>{% trans %}title_phone{% endtrans %}: {{i.phone}}</li>{% endif %}
                        {% if nodate is not defined %}<li>{% trans %}title_created_at{% endtrans %}: {{i.createdAt |date('_datetime.format'|trans)}}</li>{% endif %}
                        {% if nopapers is not defined and i.hasNoPapers %}<li>{% trans %}title_hasnopapers{% endtrans %}</li>{% endif %}
                      </ul>
                    </td>
                    {% if noaction is not defined %}
                    <td>
                      {% include '_cells/directoryActions.html.twig' with {'directory': i} %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
{% else %}
  <p>{% trans %}no_data{% endtrans %}</p>
{% endif %}