{% if currentPath != path('user_view', {'id': user.id}) %}
<a href="{{ path('user_view', {'id': user.id}) }}" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-placement="top"  title="{% trans %}tooltip_view{% endtrans %}"><i class="far fa-eye"></i></a>
{% endif %}
{% if is_granted('fire', user.mainGroup) and nofire is not defined %}
<a href="{{ path('group_fire', {'id': user.id}) }}" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-placement="top"  title="{% trans %}tooltip_fire{% endtrans %}"><i class="fas fa-user-slash"></i></a>
{% endif %}
{% if is_granted('employee', user.mainGroup) and noemployee is not defined %}
<a href="{{ path('group_employee', {'id': user.id}) }}" class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-placement="top"  title="{% trans %}tooltip_employee{% endtrans %}"><i class="fas fa-user-cog"></i></a>
{% endif %}
{% if is_granted('sanction', user.mainGroup) and nosanction is not defined %}
<a href="{{ path('document_create_user', {type: 'sanction', user: user.id}) }}" class="btn btn-warning btn-sm" data-bs-toggle="tooltip" data-placement="top"  title="{% trans %}tooltip_sanction{% endtrans %}"><i class="fas fa-user-times"></i></a>
{% endif %}