{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_edition{% endtrans%} "{{ document.title }}"{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-lg-8">
      {{ form(form) }}
    </div>
    <div class="col-lg-4">
      {% if document.directory is defined and document.directory is not null %}
      <h3>{% trans %}title_directory_linked{% endtrans %}</h3><hr>
      {% include '_cells/directoryCard.html.twig' with {'directory': document.directory} %}          
      {% endif %}

      {% if document.user is defined and document.user is not null %}
      <h3>{% trans %}title_user_linked{% endtrans %}</h3><hr>
        {% include '_cells/userInformations.html.twig' with {'user': document.user} %}         
      {% endif %}
    </div>
  </div>
{% endblock %}
