{% extends 'base.html.twig' %}

{% block title %}{{ ('documentType_' ~ document.classShort)|trans }}: {{ document.getTitle }} - {% trans %}title_history{% endtrans %}{% endblock %}
{% block subtitle %}#{{ document.id }}: {{ document.getTitle }} -  {% trans %}title_history{% endtrans %} {% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        {% include '_cells/historyDisplay.html.twig' with {'history': history, notype: true} %}
    </div>
</div>
{% endblock %}
