{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block title %}{% trans %}title_errorpage_404{% endtrans %}{% endblock %}

{% block body %}
<!-- [ 404 ] start -->
<div class="auth-wrapper">
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center">
				<div class="col-md-12">
					<div class="card-body">
						<img src="{{ asset('img/logo.png') }}" alt="Vision" class="img-fluid mb-4">
						<h4 class="mb-3 f-w-400 text-center"><p>{{ 'title_errorpage_404_message' |trans}}</p></h4>
                        {{ block('youcan') }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ 404 ] end -->
{% endblock %}
