<a href="{{ path('user_view', {id: sender.id}) }}">{{ sender.fullname }}</a> {{ 'removed_your'|trans }} {{ 'comment'|trans }} {{ 'on'|trans }} {{ ('documentType_' ~ document.classShort)|trans }} <a href="{{ path('document_view', {id: document.id}) }}">{{ document.title }}</a>