{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_users_documents{% endtrans %}{% endblock %}
{% block subtitle %}{% trans %}title_users_documents{% endtrans %}{% endblock %}

{% block body %}
<div class="row">
  <div class="col-lg-6">
    <h2>{% trans %}title_documents{% endtrans %}</h2>
    <hr>
    {% include '_cells/documentTable.html.twig' with {'documents': pagination} %}
    <div class="row">{{ knp_pagination_render(pagination) }}</div>
  </div>
  <div class="col-md-4">
    <h2>{% trans %}title_informations{% endtrans %}</h2>
    <hr>
    {% include '_cells/userInformations.html.twig' with {'user': user} %}
  </div> 
</div>
{% endblock %}
